#bgnav{
    background-image: url("ZealandBanner.png") !important;
    background-repeat: repeat;
    width: 100%;
    height: 50%;
    
  }
  #sticky{
      
    position: sticky;
    top: 0;
    z-index: 2;
  }
  

  #fluidimage{
    height: auto;
    max-width: 100%;
  }
  /* .x-navbar{
      background: url(http://background/here.jpg) repeat-x center center;
    padding-bottom: 20px;
  }

  .bgcolor {
    background-image: url('http://pele-easj.dk/downs/Zealand.png') !important;
    background-repeat: repeat;
  } */
  /* .banner {
    background: url(yourimage'surl) no-repeat 0% 0%;
    height: yourimage'sheight;
  } */